html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  position: fixed;
  left: 13em;
  top: 30%;
}

.polaroid:nth-child(2) {
  left: 16em;
  top: 40%;
  z-index: 10;
  position: fixed;
}

.polaroid:last-child {
  left: 50%;
  top: 18em;
  position: fixed;
}

.polaroid:first-child:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
  z-index: 30;
}

.polaroid:nth-child(2):hover {
  transform: scale(1.1, 1.1);
  z-index: 10;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
}

.polaroid:last-child:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
  z-index: 20;
}
