html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  position: fixed;
  transform: translate(250px, 300px);
}

.polaroid:nth-child(2) {
  transform: translate(310px, 350px);
  position: fixed;
  z-index: 10;
}

.polaroid:last-child {
  transform: translate(400px, 300px);
  position: absolute;
}

.polaroid:first-child:hover {
  transform: scale(1.1, 1.1);
}

.polaroid:nth-child(2):hover {
  transform: scale(1.1, 1.1);
}

.polaroid:last-child:hover {
  transform: scale(1.1, 1.1);
}
